<%- include('header') %>
  <h2>New Race</h2>
  <form action='/race' method='POST'>
    Start Article: <input type='text' name='start'>
    Finish Line: <input type='text' name='finish'>
    <input type='submit' value='Start'>
  </form>
<%- include('footer') %>
